<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>


<!-- 从vue中读取爱好数据以供用户选择  -->
<div id="app">
  <label v-for="item in myhobbies" :for="item">
    <input type="checkbox" :value="item" :id="item" v-model="hobbies">{{item}}
  </label>
  <h2>我的爱好：{{hobbies}}</h2>
</div>
<script src="../js/vue.js"></script>
<script>
  const app=new Vue({
    el:'#app',
    data:{
      myhobbies:['篮球','足球','乒乓球','羽毛球'],
      hobbies:[]
    }//

  })


</script>
</body>
</html>