<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div id="app">
<!--  单选框的使用-->
  <label for="agree">
<!--    未选中时，input的默认值为false-->
    <input type="checkbox" id="agree" v-model="isagree">同意协议
  </label>
  <h2>您选择的是：{{isagree}}</h2>

  <button :disabled="!isagree">下一步</button>

  <br>
<!--  多选框的使用:绑定的类型为一个数组-->
  <input type="checkbox" value="篮球" v-model="hobbies">篮球
  <input type="checkbox" value="足球" v-model="hobbies">足球
  <input type="checkbox" value="乒乓球" v-model="hobbies">乒乓球
  <input type="checkbox" value="羽毛球" v-model="hobbies">羽毛球
  <h2>你的兴趣爱好：{{hobbies}}</h2>

</div>


<script src="../js/vue.js"></script>
<script>
  const app=new Vue({
    el:'#app',
    data:{
      name:'超哥',
      message:'我说你爹',
      counter:'100',
      isagree:false,
      hobbies:[],
    }//

  })


</script>

</body>
</html>